cache/*
log/*
web/uploads/*
web/cache/*
web/robots.txt
config/databases.yml
config/propel.ini
data/sql/*
data/paypal/*
tmp/*
batch/gearman/workers/nohup.out
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
lib/model/om/*
lib/model/map/*
web/*Plugin/*
web/*.php
vendor/*
generated-schema-transformed.xml
generated-sfSettingsPlugin-schema-transformed.xml
composer.lock
apps/frontend/config/i18n.yml
.idea/
