all:
  default_culture:     en
  source:              pdMySQL
  database:            mysql://polishdate_user:polishdate_pass@127.0.0.1/polishdate_db
  debug:               off
  cache:               on
  untranslated_prefix: "[T]"
  untranslated_suffix: "[/T]"

trans:
    debug:             on
    cache:             off

dev:
    cache:             off

test:
  source:              XLIFF
