/* main */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 10px;
    text-align: center;
    color: #877f75;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: none
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.color-gray {
    color: #92897E;
}

.blocked_members td {
    padding: 0 3px;
}

textarea {
    font-family: Arial;
    font-size: 10px;
}

body .sign_in {
    margin: 20px auto 10px auto;
}

body .public_matches_search {
    background-image: url(/images/input/search.gif);
    border: 0px;
    width: 56px;
    height: 28px;
    cursor: pointer;
    float: left;
    margin-top: 5px;
}

#secondary_container span.loading {
    display: block;
    width: 135px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    text-align: center;
    font-size: 11px;
    color: #872d30;
}

/* main */ /* header */
#polish_romance_logo {
    float: left;
    width: 465px;
    text-align: center;
}

#header #left.index {
    float: left;
    margin-left: 2px;
    height: 61px;
    width: 150px;
}

#header #right.index {
    float: right;
    font-size: 10px;
    widt\h: 170px;
    margin-top: -65px;
    color: #92897E;
}

#header #right {
    float: right;
    font-size: 11px;
    color: #4b4b4b;
}

#header #right .username {
    color: white;
}

#header #right a,#header #right span {
    padding: 0 5px;
}

#header #right a.last,#header #right span.last {
    padding-right: 0;
}

#header #right img {
    margin-left: 10px;
}

#header #right p.second_row {
    text-align: right;
    padding-right: 80px;
}

#header #right a, #header #right span {
    font-size: 12px;
}

#header #right p.second_row a, #header #right p.second_row span {
    font-size: 11px;
}

#header #right a {
    text-decoration: none;
    color: #877f75;
}

#header #right a:hover {
    text-decoration: underline;
}

#header #right span {
    color: #4B4B4B;
}

/* bullets color */
#header #right p {
    color: #877f75;
}

#header {
    height: 60px;
    width: 100%;
}

#header #left {
    float: left;
    margin-left: 5px;
}

#header #right img {
    margin-bottom: -2px;
}

/* END header */ /* error and info messges, before breadcrumb */
#msgs {
    background-color: #000;
    border: 1px solid #3d3d3d;
    margin: 12px auto;
    padding: 6px;
    width: 720px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

#ajax_response {
    font-size: 12px;
    font-weight: bold;
}

#msgs p,#ajax_response p {
    margin: 0;
}

#msgs .msg_error,#ajax_response .msg_error {
    color: #ff0000;
}

#msgs .msg_ok,#ajax_response .msg_ok {
    color: #61D76C;
}

/* END error and info messges */ /* breadcrumb */
#header_text {
    text-align: left;
    font-size: 10px;
    color: #fff;
    margin: 10px 20px 0 20px;
    color: #92897e;
}

#header_text span {
    padding-left: 5px;
}

#header_text a:visited,a:active,a:link,a:hover {
    color: #7caee7;
    text-decoration: none;
}

#header_text a:hover {
    text-decoration: underline;
}

#header_text #header_title {
    margin: 5px 0;
}

#header_text #header_title h2 {
    padding-left: 6px;
    margin: 0px;
    height: 21px;
    font-size: 18px;
    color: #d3d3d3;
    line-height: 20px;
    font-weight: normal;
    background-color: #3d3d3d;
}

#header_text.index {
    text-align: center;
    font-size: 11px;
    color: white;
}

/* END breadcrumb */ /*index*/
#complete_registration {
    height: 23px;
    background-color: #000;
    line-height: 20px;
    color: #ff0000;
    font-size: 11px;
    font-weight: bold;
}

#content {
    padding: 25px;
    padding-top: 10px;
    text-align: center;
}

#content p {
    color: #FFF;
    font-size: 1em;
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

#secondary_container {
    padding-top: 35px;
    margin: 0 25px;
    text-align: left;
    font-size: 11px;
    min-height: 380px;
    height: auto !important;
    height: 380px;
    color: #d3d3d3;
}

/* Select countries and areas */
#areas {
    margin: 0px;
    padding: 0px;
    text-align: left;
    float: left;
}

#areas a.slf,#areas a.slf:visited,#areas a.slf:active {
    color: #92897e;
}

#areas a.slf:hover {
    color: #92897e;
    text-decoration: underline;
}

#areas fieldset {
    border: 0;
}

#areas_map {
    float: right;
    width: 450px;
}

#countries {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#countries fieldset {
    width: 215px;
    color: #aca49c;
    border: 0px;
    text-align: left;
    padding-left: 0px;
    margin-right: 15px;
}

#countries .fieldcountry {
    float: left;
    width: 225px;
    margin: 5px;
}

#countries fieldset legend span {
    display: block;
    vertical-align: top;
    margin: 10px 0 0 0;
    padding: 0 0 0 5px;
    font-size: 10px;
    color: #aca49c;
    border-bottom: 1px dotted #7995ae;
    width: 200px;
}
/* END Select countries and areas */

/**** FORMS ****/
#report_bug {
    margin-top: 15px;
    margin-bottom: -15px;
    width: 720px;
}

#report_bug fieldset {
    background-color: #4f4f4f;
    border: 0;
    display: table-cell;
    margin: 0px;
    margin-bottom: 5px;
}

#report_bug label {
    float: left;
    display: block;
    width: 60px;
    display: table-row;
    color: #e0b400;
    margin-bottom: 2px;
}

#secondary_container #report_bug fieldset input {
    margin-left: 0px;
    margin-bottom: 2px;
}

#report_bug #assistant_right {
    float: right;
    width: 315px;
    padding-left: 5px;
}

#assistant_profile {
    padding-top: 10px;
}

#assistant_profile img {
    floaT: left;
}

#assistant_profile p {
    float: right;
    width: 230px;
}

#secondary_container #sign_in {
    margin-left: auto;
    margin-right: auto;
    width: 444px;
    margin-top: 110px;
    text-align: center;
}

#secondary_container #sign_in fieldset {
    border: 1px solid #4f4f4f;
    margin: 0px;
    width: 218px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

#secondary_container #sign_in legend {
    color: #d3d3d3;
}

#secondary_container #sign_in fieldset span {
    font-size: 11px;
    color: #d3d3d3;
    margin-left: 23px;
}

#secondary_container #sign_in label {
    display: table-row;
    float: left;
    width: 60px;
    text-align: right;
    margin-top: 3px;
}

#secondary_container #sign_in input.input_text_width {
    display: table-row;
    margin-top: 3px;
}

#secondary_container #forgot_password {
    margin-top: 20px;
}

/*** END FORMS ***/

/* Winks */
#winks {
    width: 720px;
    height: 100%;
}

#winks div.you_recived {
    width: 226px;
    float: left;
    margin-top: 6px;
    margin-bottom: 20px;
}

#winks div.you_sent {
    width: 346px;
    float: left;
    margin-left: 125px;
    margin-top: 6px;
    margin-bottom: 20px;
}

#winks div.member_profile {
    float: left;
    width: 225px;
    height: 120px;
    background-color: #3d3d3d;
    margin-left: 0px;
    margin-bottom: 25px;
}

#winks div.member_profile_viewers {
    float: left;
    width: 225px;
    height: 120px;
    background-color: #3d3d3d;
    margin-left: 0px;
    margin-bottom: 25px;
    margin-right: 15px;
}

#winks div.member_profile_viewers img {
    float: left;
}

#winks div.member_profile_viewers h2 {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    float: left;
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
    background-color: #000;
}

#winks div.member_profile_viewers div.input {
    float: left;
    padding: 5px;
    width: 105px;
    padding-right: 30px;
    height: 76px;
}

#winks div.member_profile_viewers div.input span.public_reg_notice {
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
}

#winks div.member_profile_viewers span.number {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    color: #d3d3d3;
    border-left: 1px solid #3d3d3d;
    background-color: #000;
}

#winks div.member_profile img {
    float: left;
}

#winks div.member_profile h2 {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    float: left;
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
    background-color: #000;
}

#winks div.member_profile img.x {
    float: right;
}

#winks div.member_profile div.input {
    float: left;
    padding: 5px;
    width: 105px;
    padding-right: 30px;
    height: 76px;
}

#winks div.member_profile div.input span.public_reg_notice {
    display: block;
    margin-bottom: 8px;
}

#winks div.member_profile span.number {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    color: #d3d3d3;
    border-left: 1px solid #3d3d3d;
    background-color: #000;
}
/* END Winks */

#secondary_container #privacy {
    margin-top: 23px;
}

.center_text {
    text-align: center;
    display: block;
    margin-top: 25px;
}

/* Subscriptions */
#subscription {
    height: 500px;
    margin: 40px auto 0 auto;
}

#subscription fieldset {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 400px;
}

#subscription span.type {
    font-size: 11px;
    line-height: 25px;
    padding-left: 6px;
}

#subscription div.column {
    float: left;
    /* border: 1px solid #3d3d3d; */
    border-right: 0px;
}

#subscription div.column .upgrade_img {
    height: 44px;
}

#subscription div.upgrade_to {
    border: 1px solid #35773b;
}

#subscription div.upgrade_to .upgrade_img {
    background: #35773b url(/images/upgrade_subscription.gif) no-repeat 7px
        center;
}

#subscription span.select {
    height: 11px;
    display: block;
    font-size: 11px;
    background-color: #3d3d3d;
    margin-top: 8px;
    padding: 8px;
}

#subscription span.select input {
    margin: 0px;
    padding: 0px;
    height: 14px;
}

#subscription span.check {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    color: #61d76c;
    height: 20px;
    margin-left: 7px;
}

#subscription span.top {
    display: block;
    height: 21px;
    background-color: #3d3d3d;
    font-weight: bold;
    color: #d3d3d3;
    font-size: 11px;
    padding: 10px 15px 0 7px;
}

#subscription .upgrade_to span.top {
    padding-right: 35px;
}
/* END Subscription */

/* Dashboard */
#secondary_container #deactivate {
    padding-top: 30px;
}

#dashboard-container {
    font-size: 11px;
}

#dashboard-container a:hover img {
    margin: 1px;
    border: 2px solid #e0b400;
}

#dashboard-container img {
    margin: 1px;
    border: 2px solid #000;
}

span.online-assistant {
    float: right;
    font-size: 11px;
    padding-bottom: 10px;
}

#dashboard-container div.left,#dashboard-container div.right {
    float: left;
    width: 340px;
    height: 225px;
    background-color: #000000;
    padding: 12px;
}

#dashboard-container div.left div.go-to {
    display: block;
    color: #d3d3d3;
    font-weight: bold;
    margin-bottom: 5px;
}

#dashboard-container div.right {
    float: right;
}

#dashboard-container div.left div.dashboard-menu {
    clear: left;
    height: 36px;
    /* thumnails height 30px + border 2*2px + margin 2*1px */
    line-height: 36px;
}

#dashboard-container div.left img {
    float: left;
}

#dashboard-container div.left a.menu_title {
    display: block;
    float: left;
    width: 110px;
    color: #73a7ff;
}

#dashboard-container div.right {
    background-color: #4f4f4f;
    float: right;
}

#dashboard-container div.right ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#dashboard-container div.right span.view_profile_like_others {
    float: right;
}

#dashboard-container div.right ul.top {
    margin-bottom: 20px;
}

#dashboard-container div.right ul.left {
    float: left;
}

#dashboard-container div.right ul.right {
    float: left;
    margin-left: 20px;
}

#dashboard-container div.bottom {
    clear: both;
    height: 155px;
    width: 710px;
    background-color: #000;
    border-top: 1px solid #4F4F4F;
    padding: 10px;
}

#dashboard-container div.bottom div.photo {
    text-align: center;
    margin: 5px 2px;
    width: 90px;
}

#dashboard-container div.bottom div.photo p {
    margin-bottom: 0;
}
/* END Dashboard */

/* Member Messages */
.messages {
    width: 100%;
}

.messages tr {
    background-color: #4F4F4F;
}

.messages tr td {
    border-bottom: 1px solid #2B2B2B;
}

.messages .checkboxes {
    width: 75px;
}

.messages tr td input {
    margin-right: 45px;
}

#messages_form {
    padding: 0px;
    margin: 0px;
    color: #d3d3d3;
    width: 720px;
}

#messages_form fieldset {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#messages_form input.delete {
    margin-right: 30px;
    color: #d3d3d3;
}

.text_1 {
    background-color: #3d3d3d;
    padding: 2px;
    padding-left: 4px;
    color: #d3d3d3;
    border-bottom: 1px solid #2b2b2b;
    margin: 0px;
}

.messages_show_hide {
    width: 714px;
    border: none;
    margin-top: 20px;
}

#messages_form_sent {
    padding: 0px;
    margin: 0px;
    color: #d3d3d3;
    width: 720px;
}

#messages_form_sent fieldset {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#messages_form_sent input.delete {
    margin-right: 30px;
    color: #d3d3d3;
}
/* END Member Messages */

#secondary_container hr {
    border: 0px;
    border-bottom: 1px solid #3d3d3d;
}

#secondary_container textarea.text_area {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    font-size: 11px;
}

#secondary_container #imbra_2 textarea {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    width: 480px;
    height: 60px;
    font-size: 11px;
}

#secondary_container #imbra_2 label.form_1 {
    float: left;
    display: block;
    width: 65px;
}

#secondary_container #imbra_2 input.input_text_width, select.input_text_width {
    margin: 2px;
}

span {
    color: #92897e;
    font-size: 10px;
}

#public_reg_form {
    padding: 2px;
    margin: 0px;
}

#public_reg_form fieldset {
    margin: 0px;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 0px;
    border: 0;
}

#public_reg_form select {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin-bottom: 1px;
    padding: 0px;
    width: 150px;
    font-size: 10px;
}

#public_reg_form input {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    width: 150px;
    height: 14px;
}

#public_reg_form label {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-left: 7px;
    display: table-cell;
    width: 150px;
    color: #92897e;
    margin-top: 2px;
    background-color: #363639;
    height: 16px;
    line-height: 16px;
    color: #d3d3d3;
}

#public_reg_form.member_reg fieldset {
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0px;
    border: 0;
}

#public_reg_form.member_reg label {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-left: 7px;
    width: 110px;
    color: #92897e;
    margin-top: 2px;
    background-color: #363639;
    height: 18px;
    line-height: 18px;
    color: #d3d3d3;
}

#public_reg_form.member_reg select {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin: 2px;
    padding: 0px;
    width: 150px;
    font-size: 10px;
}

#public_reg_form.member_reg input {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin: 2px;
    padding: 0px;
    width: 150px;
    height: 15px;
}

#secondary_container #public_reg_form .save_and_cont {
    border: 0px;
    margin-left: 5px;
    width: 120px;
    height: 28px;
    background-color: #363639;
    color: #aca49c;
    background-image: url(/images/input/save_cont.gif);
    color: #fff;
    cursor: pointer;
}

#secondary_container span.check_available input {
    margin-left: 163px;
}

#essay {
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
}

#essay fieldset .save_and_cont {
    margin: 14px 0 5px 0;
    width: 120px;
    height: 28px;
    background-color: #363639;
    background-image: url(/images/input/save_cont.gif);
    cursor: pointer;
    display: block;
}

#essay #tips {
    float: right;
    width: 352px;
    padding: 15px 0 0 15px;
    height: 218px;
    background-color: #3d3d3d;
    margin-top: 60px;
}

#essay #tips li {
    margin-left: 0px;
    padding-left: 0px;
    width: 330px;
    margin-bottom: 3px;
}

#essay #tips ul {
    margin-left: 5px;
    padding-left: 5px;
    list-style-type: disc;
    margin-bottom: 2px;
}

#essay fieldset {
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
}

#essay label {
    margin: 0px;
    padding: 0px;
}

#secondary_container #essay input.essay {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    width: 330px;
    height: 15px;
}

#secondary_container #essay textarea.essay {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    width: 330px;
    height: 230px;
}

#secondary_container .photos {
    width: 700px;
    height: 180px;
}

#secondary_container .photos img {
    border: 3px solid #000;
}

#secondary_container .save_and_cont_photos {
    border: 0px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 120px;
    height: 28px;
    background-color: #363639;
    background-image: url(/images/input/save_cont.gif);
    cursor: pointer;
    display: block;
}

#secondary_container div.photo {
    float: left;
    margin: 5px;
}

#secondary_container input.delete {
    width: 40px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_delete.gif) no-repeat;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 2px;
}

#secondary_container input.close {
    width: 36px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_close.gif) no-repeat;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 20px;
}

#secondary_container input.reply {
    width: 37px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_reply.gif) no-repeat;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 2px;
}

#secondary_container div.photo label {
    color: #e0b400;
}

#secondary_container .photo span {
    background-color: #3d3d3d;
    padding: 5px;
    display: block;
}

.public_reg_notice {
    color: #e0b400;
    font-size: 11px;
}

label.title {
    margin-top: 40px;
    height: 16px;
    line-height: 16px;
    width: 95%;
    background-color: #363639;
    display: block;
    color: #d3d3d3;
    font-size: 11px;
    padding-left: 6px;
}

#secondary_container label.title_first {
    margin-top: 10px;
    height: 16px;
    line-height: 16px;
    width: 95%;
    background-color: #363639;
    display: block;
    color: #d3d3d3;
    font-size: 11px;
    padding-left: 6px;
}

#secondary_container .input_text_width {
    border: 1px solid #7995ae;
    background-color: #363639;
    color: #aca49c;
    font-size: 11px;
    margin-left: 4px;
}

#self_desc_form select, #self_desc_form input {
    border: 1px solid #7995ae;
    background-color: #363639;
    color: #aca49c;
    font-size: 11px;
    width: 130px;
    margin-right: 4px;
    margin-top: 6px;
}

#self_desc_form .date_tag_wrap select {
    width: 60px;
}

#self_desc_form span.extra_info {
    display: block;
    width: 100px;
    font-size: 11px;
    padding: 5px 0 0 25px;
}


/* personality */
#secondary_container .save_and_cont {
    border: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 120px;
    height: 28px;
    background-color: #363639;
    background-image: url(/images/input/save_cont.gif);
    cursor: pointer;
    display: block;
}

select.language_level {
    border: 1px solid #7995ae;
    background-color: #363639;
    color: #aca49c;
    font-size: 11px;
    width: 130px;
    margin-right: 4px;
    margin-left: 70px;
    margin-top: 6px;
}

#secondary_container span.zodiac {
    color: #d3d3d3;
    font-size: 11px;
    margin-left: 250px;
}

#self_desc_form {
    margin: 0px;
    padding: 0px;
}

#index_image img {
    float: left;
    padding: 2px;
}

#index_image {
    width: 312px;
    height: 290px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*index*/ /*container*/
#box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    width: 80%; /* <-- use this to tie width to viewport size */
    width: 830px; /* <-- use this for a set width */
    background: #2b2b2b;
}

/*container*/ /*search*/
#search_box {
    margin-top: 10px;
    color: #d3d3d3;
    font-size: 11px;
    margin-bottom: 30px;
}

/*
#search_box.public_matches {
    height: 75px;
    background-color: #3d3d3d;
    color: #d3d3d3;
}*/
span.sec_link {
    color: #D3D3D3;
    font-size: 11px;
}

#search_box p.search_p {
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid #000;
    text-align: left;
    clear: both;
    color: #d3d3d3;
    background-color: #3d3d3d;
}

#search_box p.search_keyword {
    background: none;
    border: none;
    padding-top: 0;
}

#search_types {
    margin-bottom: 25px;
}

/*
#input_matches_button {
    width: 100%;
    height: 30px;
    background-color: #2b2b2b;
    border-top: 2px solid #2b2b2b;
}
*/
#search_box span {
    position: absolute;
    margin-top: 22px;
    margin-left: -120px;
}

#search_box span  a:visited,a:active,a:link {
    text-decoration: none;
    color: #6aa7ff;
}

.age {
    font-size: 10px;
    color: #b5b59b;
    border: 1px solid #90a6bb;
    background-color: #464649;
    padding-left: 1px;
    width: 40px;
    margin-left: 2px;
    margin-right: 2px;
}

/* Pager */
.pager {
    margin: 0 auto;
    text-align: right;
    font-size: 11px;
    color: #E0B400;
    font-family: Arial, Helvetica, sans-serif;
}

.pager span {
    color: #d3b33e;
    font-size: 11px;
}

.pager a,.pager a:visited {
    color: #6aa7ff;
}

.pager img {
    padding: 0 3px 2px 3px;
    vertical-align: middle;
}
/* End Pager */

.member {
    margin: 0 auto;
    height: 118px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.member .member_box {
    width: 235px;
    float: left;
    height: 100%;
    color: #d3d3d3;
    background-color: #3d3d3d;
    margin: 0 10px 0 0;
    color: #d3d3d3;
}

.member .last_box {
    margin-right: 0;
}

.member .member_box span {
    border-left: 1px solid #3d3d3d;
    padding-left: 3px;
    clear: both;
    text-align: right;
    float: right;
    margin-top: -18px;
    font-size: 11px;
    line-height: 19px;
    margin-right: 3px;
    height: 18px;
    color: #fff;
}

.member .member_box h2 {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    background-color: #000;
    font-size: 11px;
}

.member .member_box strong {
    color: #d3d3d3;
    font-weight: normal;
}

.member .member_box b {
    color: #92897e;
    font-weight: normal;
}

.member .member_box .profile_info_matches {
    float: left;
    color: #d3d3d3;
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    padding: 6px 2px 2px 2px;
    margin: 0px 0px 0px 3px;
}

.member .member_box img {
    float: left;
}

/*search*/ /* profile setings */ /* END profile settings */ /*
#resources {
	float:left;
	width:47%;
	text-align:left;
}
*/ /*profile*/ /*subscribe*/
.save,#public_reg_form.member_reg input.save {
    background: url(/images/input/save.gif) no-repeat;
    border: 0px;
    margin: 4px;
    color: #fff;
    width: 46px;
    height: 28px;
    padding-bottom: 3px;
    cursor: pointer;
}
/* footer */
#footer {
    font-size: 11px;
    text-align: center;
    clear: both;
    color: #3d3d3d;
    line-height: 18px;
}

#footer .footer_footer {
    font-size: 10px;
}

#footer a:link,#footer a:visited,#footer a:active {
    text-decoration: none;
    color: #3d3d3d;
}

#footer a:hover {
    text-decoration: underline;
    color: #3d3d3d;
}

/* Footer Menu */
#footer_menu {
    margin: 10px auto 0 auto;
    padding: 4px;
    border-top: 1px solid #3d3d3d;
    height: 100px;
    clear: both;
    line-height: 14px;
    font-size: 11px;
    width: 712px;
    text-align: left;
}

#footer_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 100px;
}

#footer_menu a:active,#footer_menu a:visited {
    color: #92897e;
}

#footer_menu a:link {
    color: #92897e;
}

#footer_menu a:hover {
    color: #92897e;
    text-decoration: underline;
}
/* End Footer Menu */

/* footer */ /* register */
#register a:hover {
    text-decoration: underline;
}

#register a:link,#register a:visited,#register a:active {
    color: #92897e;
    text-decoration: underline;
}

#register {
    color: #989188;
    font-size: 10px;
    text-align: left;
}

#register form {
    margin: 0px;
    padding: 0px;
}

#register fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 240px;
    line-height: 19px;
    float: left;
}

#register label {
    float: left;
    height: 16px;
    width: 80px;
    padding: 0 7px 0 3px;
    background-color: #363639;
    margin: 0 0 !important;
}

#register .check_available {
    height: 14px;
    background: none;
}

#register .button_mini {
    margin: 0 2px 0 0;
    float: right;
}

#register input,#register select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #7995ae;
    background-color: #363639;
    color: #aca49c;
    float: left;
    display: block;
    height: 12px;
}

#register select {
    width: 146px !important;
    height: 15px;
}

#register .tos_contaner {
    width: 238px;
    height: 35px;
    background-color: #363639;
    line-height: 14px;
}

#register #terms {
    width: 23px;
    float: none;
    display: block;
    float: left;
    margin: 10px 30px 0 10px;
    border: none;
}

#register label.terms {
    width: auto;
    float: none;
    padding: 0 5px 0 0;
    margin: 0;
    height: auto;
}

#register .reg_submit_container {
    height: 130px;
    float: left;
    background-color: #363639;
    padding: 0 2px;
}

#register #reg_submit {
    border: 0px;
    cursor: pointer;
    margin-top: 50px;
    background: url(/images/go.gif) no-repeat;
    width: 58px;
    height: 33px;
}

#register input {
    width: 146px;
}

#register select {
    width: 149px;
}
/* END register */

#secondary_container .site_map {
    margin: 0px;
    padding: 0px;
    margin-left: 18px;
    margin-bottom: 30px;
}

#registration_box_complete_page {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    width: 410px;
}

#registration_box_complete_page fieldset {
    border: 0px;
}

#registration_box_complete_page label {
    background-color: #363639;
    height: 18px;
    display: block;
    float: left;
    width: 160px;
    line-height: 18px;
    padding-left: 2px;
    margin-top: 2px;
}

#registration_box_complete_page label.tos {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    font-size: 10px;
    color: #92897e;
}

#registration_box_complete_page .tos_input {
    float: right;
    width: 15px;
    height: 15px;
    border: 0;
    margin-top: -23px;
}

#registration_box_complete_page a:link,#registration_box_complete_page a:visited,#registration_box_complete_page a:active
    {
    color: #92897e;
    text-decoration: underline;
}

#registration_box_complete_page .submit_join {
    margin-top: 20px;
    margin-left: 5px;
    width: 120px;
    height: 28px;
    background-color: #363639;
    color: #aca49c;
    background-image: url(/images/input/save_cont.gif);
    border: 0px;
    color: #fff;
    cursor: pointer;
}

#registration_box_complete_page input,#registration_box_complete_page select
    {
    width: 146px;
    font-size: 10px;
    border: 1px solid #7995ae;
    background-color: #363639;
    color: #aca49c;
    float: left;
    display: block;
    margin: 2px;
    margin-left: 2px;
}

#registration_box_complete_page select {
    height: 17px;
    margin-bottom: 1px;
}

#secondary_container .please_read {
    color: #e0b400;
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    margin-bottom: 10px;
}

#secondary_container span.last_update {
    color: #92897e;
    font-size: 10px;
    padding-left: 3px;
    display: block;
}

#secondary_container span.rule_title {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    font-size: 11px;
    color: #d3d3d3;
}

#secondary_container span.rule_description {
    display: block;
    font-size: 11px;
    color: #d3d3d3;
}

/* Member Stories */
#member_stories_ul {
    margin: 15px;
    padding: 0px;
    list-style-type: square;
    color: #fff;
}

#member_stories_ul li a {
    color: #92897e;
}

#member_stories_ul li a:hover {
    text-decoration: underline;
}

#member_story_right {
    float: right;
}

#member_story_right ul {
    padding: 0;
    margin: 0 0 10px 0;
    list-style-type: disc;
    list-style-position: inside;
}

#member_story_right ul a {
    color: #92897E;
}

#member_story_right ul a:hover {
    text-decoration: underline;
}

#member_story_list {
    color: #92897e;
    background-color: #221f20;
    padding: 8px;
    margin-bottom: 20px;
}

#member_story_content {
    margin-bottom: 30px;
}

#member_story_content,#member_story_content p {
    color: #D3D3D3;
}

/* END member stories */ /* post story + send message */
.msg_form {
    height: 410px;
    color: #92897e;
    font-size: 10px;
    margin-top: 10px;
    padding: 3px;
}

.msg_form label {
    float: left;
    margin: 0px;
    padding: 0px;
    display: table-cell;
    width: 60px;
    color: #e0b400;
    margin-top: 3px;
    height: 16px;
    line-height: 17px;
    font-size: 11px;
}

.msg_form fieldset {
    margin: 0px;
    padding: 3px;
    border: 0px;
}

.msg_form span.msg_to {
    margin-top: 4px;
    font-size: 11px;
    margin-left: 3px;
    color: #e0b400;
    display: block;
    float: left;
}

.msg_form fieldset.background_000 {
    background-color: #000;
    padding: 4px;
}

.msg_form fieldset input,.msg_form fieldset textarea {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    font-size: 11px;
    margin: 2px;
    width: 320px;
}

.msg_form input.send_mini {
    width: 33px;
    border: none;
}

.msg_form fieldset input.tos {
    width: 15px;
    height: 15px;
    margin-left: 40px;
    margin-right: 6px;
    border: 0;
}

.msg_form label.tos {
    display: block;
    width: auto;
    color: #d3d3d3;
    font-size: 11px;
    line-height: 18px;
}

.msg_form label.imbra_tos {
    display: block;
    width: 650px;
    height: 45px;
    color: #d3d3d3;
    font-size: 11px;
    line-height: 12px;
}

.msg_form fieldset.background_f4 {
    margin-top: -2px;
    background-color: #4f4f4f;
}

.msg_form textarea {
    height: 220px;
    margin-top: -4px;
}

#post_story label {
    color: #92897E;
    font-size: 10px;
}

#post_story label a {
    color: #92897E;
    text-decoration: underline;
}

/* END post story + send message */
#tell_a_friend_container {
    background-color: #4f4f4f;
    height: 220px;
    width: 720px;
    padding: 0px;
    margin-top: 30px;
}

#tell_a_friend_container span.tell_friend_footer {
    background-color: #000;
    display: block;
    padding: 5px;
}

#tell_a_friend_container span {
    color: #92897e;
    font-size: 10px;
}

#tell_a_friend_container label {
    float: left;
    margin: 0px;
    padding: 0px;
    display: table-cell;
    width: 60px;
    color: #e0b400;
    margin-top: 3px;
}

#tell_a_friend_container input,#tell_a_friend_container textarea {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    font-size: 10px;
    margin: 2px;
    width: 140px;
}

#tell_a_friend_container fieldset {
    margin: 0px;
    padding: 3px;
    border: 0px;
    margin-bottom: 15px;
}

#tell_a_friend_container legend {
    margin-left: 50px;
    color: #d3d3d3;
    margin-top: 0px;
    margin-bottom: 0px;
}

#tell_a_friend_div {
    float: right;
    margin-top: -160px;
    width: 460px;
}

#tell_a_friend_container input.send_friend {
    width: 33px;
    height: 17px;
    border: 0;
    background: url(/images/input/butt_send.gif);
    cursor: pointer;
    margin-top: 6px;
}

/* Flagging */
#flag {
    height: 240px;
}

#flag fieldset {
    border: 0px;
}

#flag .photo {
    float: left;
    text-align: center;
}

#flag .left {
    float: left;
    margin-left: 20px;
}

/* END flaggind */ /* profile */ /* left */
#profile_left { /*width:350px; */
    height: 100%;
    min-height: 660px;
    text-align: left;
    font-size: 11px;
    color: #d3d3d3;
}

#profile_left img.thumb {
    margin-top: 12px;
    border: 2px solid #2b2b2b;
}

#profile_left a:hover .thumb {
    border: 2px solid #e0b400;
}

/* END left */ /* right */
#profile_right {
    float: right;
    font-size: 11px;
    /* width:340px; */
    height: 100%;
    color: #d3d3d3;
    text-align: left;
}

#profile_right #profile_top {
    height: 18px;
    line-height: 18px;
    background-color: #000000;
    font-size: 11px;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;
}

#profile_right #profile_top li {
    float: left;
    padding-right: 10px;
}

#profile_right #profile_top li.left_profile_top {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 30px;
}

#profile_right .profile_gift {
    display: block;
    height: 23px;
    background-color: #3d3d3d;
    padding: 7px 0 0 4px;
}

#profile_double_box {
    margin-top: 5px;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
}

#profile_double_box .left,#secondary_container #profile_double_box .right {
    float: left;
    height: 50px;
    width: 162px;
    background-color: #3d3d3d;
    color: #92897e;
    font-size: 10px;
    padding-left: 5px;
    line-height: 15px;
}

#profile_double_box .right {
    border-left: 6px solid #000;
}

/* Profile description and map */
#desc_map_container {
    width: 338px;
    border-top: 1px solid #4f4f4f;
    background-color: #4f4f4f;
}

#profile_right a.switch {
    float: left;
    display: block;
    height: 27px;
    width: 164px;
    color: #73a7ff;
    padding-left: 5px;
    line-height: 27px;
}

#profile_right .inactive {
    background-color: #3d3d3d;
}

#profile_desc dl {
    background-color: #4f4f4f;
    font-size: 11px;
    margin: 10px 0 0 0;
}

#profile_desc dt {
    float: left;
    display: block;
    width: 105px;
    padding: 0 0 3px 5px;
    margin: 0;
    color: #92897E;
}

#profile_desc dd {
    float: left;
    display: block;
    margin: 0;
    width: 224px;
    padding-bottom: 3px;
}

#gmap {
    text-align: center;
    margin: 10px auto;
}

/* END Profile description and map */
#profile_right .conversations_messages {
    background-color: #4f4f4f;
    font-size: 11px;
    width: 338px;
    margin-top: 10px;
}

#profile_right .conversations_messages td {
    padding: 4px;
    border-bottom: 1px solid #000;
}

#profile_right .conversations_messages th {
    color: #d3d3d3;
    background-color: #000;
    font-weight: normal;
    padding: 4px;
}

/* END right */ /* Profile IMBRA */
#profile_imbra_details {
    background-color: #3D3D3D;
    color: #D3D3D3;
    padding: 10px;
}

#profile_imbra_details p {
    color: #D3D3D3;
    font-size: 11px;
}

#profile_imbra_details .profile_imbra_version {
    font-size: 10px;
    color: #92897E;
    padding-bottom: 10px;
}

#profile_imbra_details p.public_reg_notice {
    color: #E0B400;
}

/* END profile IMBRA */ /* END profile */
#secondary_container p.contact_us {
    color: #d3d3d3;
}

#help_page_ul a:link,#help_page_ul a:visited,#help_page_ul a:active {
    color: #92897e;
}

#help_page_ul a:hover {
    color: #92897e;
    text-decoration: underline;
}

#message_details {
    background-color: black;
    width: 715px;
}

#message_details .message_header {
    padding: 3px;
}

#message_details .message_header p {
    padding: 0;
    margin: 0;
    color: #E0B400;
}

#message_details .actions {
    padding: 0 3px 3px 3px;
}

.message_desc {
    background-color: #4f4f4f;
    padding: 10px;
}

#next a:link,a:visited,a:active {
    color: #636363;
    text-decoration: none;
}

#previous a:link,a:visited,a:active {
    color: #636363;
    text-decoration: none;
}

#middle {
    text-align: center;
    margin-top: 15px;
    height: 500px;
    width: 100%;
    font-size: 11px;
}

#middle_left {
    margin-top: 50px;
    vertical-align: bottom;
    text-align: left;
    float: left;
    width: 27%;
    margin-left: 10px;
    margin-right: 13px;
}

#middle #center {
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#middle_right {
    margin-top: 80px;
    float: left;
    margin-left: -10px;
    width: 30%;
}

#middle_right ul {
    text-align: left;
    line-height: 17px;
}

#middle_right ul a {
    text-align: left;
    color: #877f75;
    text-decoration: none;
}

#middle_right ul a:hover {
    text-decoration: underline;
}

#under_index_image h2 {
    color: #787880;
    margin: 40px 0 0 0;
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 3px;
    text-align: center;
    vertical-align: bottom;
}

/*Form field on focus */
input:focus, select:focus, textarea:focus {
    border: 1px solid #85854A !important;
    background-color: #2B2B1A !important;
}

/* ---=== border code follows ===--- */ /*
	tlc = top left corner
	trc = top right corner
	blc = bottom left corner
	brc = bottom right corner
	lb = left border
	rb = right border
	tb = top border
	bb = bottom border 
*/
* html #tlc,* html #trc {
    height: 1%;
}

#tlc,#trc,#blc,#brc {
    background-color: transparent;
    background-repeat: no-repeat;
}

#tlc {
    background-image: url(/images/box_corners/tlc.gif);
    background-position: 0% 0%;
}

#trc {
    background-image: url(/images/box_corners/trc.gif);
    background-position: 100% 0%;
}

#blc {
    background-image: url(/images/box_corners/blc.gif);
    background-position: 0% 100%;
}

#brc {
    background-image: url(/images/box_corners/brc.gif);
    background-position: 100% 100%;
}

#tb,#bb {
    background-color: transparent;
    background-repeat: repeat-x;
}

#tb {
    background-image: url(/images/box_corners/tb.gif);
    background-position: 0px 0px;
}

#bb {
    background-image: url(/images/box_corners/bb.gif);
    background-position: 50% 100%;
}

#rb {
    background-image: url(/images/box_corners/r.gif);
    background-position: 100% 0%;
    background-repeat: repeat-y;
}

#lb {
    background-color: #2b2b2b;
    background-image: url(/images/box_corners/l.gif);
    background-position: 0% 100%;
    background-repeat: repeat-y;
}

/* links */
a:hover {
    text-decoration: underline;
}

a.sec_link_brown,a.sec_link_brown:visited,a.sec_link_brown:active {
    color: #92897e;
}

a.sec_link_brown:hover {
    color: #92897e;
}

a.sec_link,a.sec_link:visited  ,a.sec_link:active {
    color: #73a7ff;
}

a.sec_link:hover {
    color: #a8c8ff;
}

a.sec_link_small,a.sec_link_small:visited,a.sec_link_small:active {
    color: #73a7ff;
    font-size: 10px;
}

a.sec_link_small:hover {
    color: #a8c8ff;
    font-size: 10px;
}

/* END links */
fieldset.actions {
    margin-top: 30px;
}

/* Form Errors */
label.error, #secondary_container div.error, 
#secondary_container input.error, #registration_box_complete_page label.error, 
#secondary_container #public_reg_form label.error {
    background-color: #A51D1F;
}

#secondary_container .photos img.error {
    border: 3px solid #ff0000;
}

#report_bug label.error {
    color: #fff;
    padding: 1px;
}

/* End form errors */

.submit {
    background: url(/images/input/butt_submit.gif) no-repeat;
    border: none !important;
    width: 56px !important;
    height: 28px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.submit_class {
    background-image: url(/images/input/butt_submit.gif);
    border: 0px;
    width: 56px;
    height: 28px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

.send_mini {
    background-image: url(/images/input/butt_send.gif);
    border: 0px;
    width: 33px;
    height: 17px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

/* New buttons - I18N Ready */
button, .button, form .button {
    height: 28px !important;
    width: auto !important;
    background: black url(/images/button_bg.jpg) repeat-x top left;
    color: white !important;
    font-family: Arial;
    font-size: 12px !important;
    border: 1px solid #171717; /* right-bottom */
    border-color: #3c3c3c #171717 #171717 #3c3c3c !important;
    padding: 6px 8px !important;
    cursor: pointer;
    margin-top: 5px;
}

.button_mini {
    height: 18px !important;
    width: auto !important;
    background: black url(/images/button_mini_bg.jpg) repeat-x top left;
    color: #A0A0A0;
    font-family: Arial;
    font-size: 10px !important;
    border: 1px solid #171717; /* right-bottom */
    border-color: #3c3c3c #171717 #171717 #3c3c3c !important;
    padding: 0 2px !important;
    cursor: pointer;
    margin-top: 2px;
}

/* END New buttons */