#top_menu {
  height: 50px;
  background-color: #3D3D3D;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#top_menu li {
  float: left;
  padding: 10px;
  margin-top: 13px;
}

#top_menu li a {
  color: white;
}

#top_menu li a:hover {
  text-decoration: underline;
  color: #73A7FF;
}

#top_menu li.selected {
  background-color: black;
  border: 1px solid #999;
  border-bottom: none;
  color: #73A7FF;
}

#left {
  float: left;
  background-color: black;
  color: white;
  margin: 0;
  width: 250px;
}

#left_menu {
  background-color: #3D3D3D;
  margin: 0 0 0 10px;
  padding: 100px 0 0 0;
  font-size: 1em;
  min-height:580px;
  height:auto !important;
  height:580px;
  background: #3D3D3D url(/images/logo_backend.jpg) 0 0 no-repeat;
}

#left_menu li {
  padding: 5px 10px;	
}

#left_menu li a {
  color: white;
}

#left_menu li a:hover {
  background-color: #3D3D3D;
  color: #73A7FF;
  margin: 0;
  padding: 0;	
}

#left_menu li.selected {
  background-color: black;
  color: #73A7FF;
}

form #left_menu li {
    padding: 0 10px;
    font-weight: bold;
}

#left_menu label {
    float: none;
    display: inline;
    font-weight: normal;
}

#content {
  margin-left: 250px;
  padding: 10px;
}

#breadcrumb {
  margin-bottom: 20px;
}

#breadcrumb a {
  text-decoration: underline;
  color: #909090;
}

#breadcrumb a:hover {
  text-decoration: none;
  color: #909090;
}

#login_info {
	background-color: #3D3D3D;
	margin: 0 0 0 10px;
	color: #999;
	font-size: 0.7em;
	padding-left: 10px;
}

#login_info a {
	color: #999;
	text-decoration: underline;
}

#logout_button{
	background-color: black;
	color: yellow;
	border: 1px solid #999;
	font-size: 1.1em;
	text-transform: uppercase;
	padding: 5px;
	margin: 0 0 10px 0;
	cursor: pointer;
}

table {
  border-collapse: collapse;
  text-align: left;
}

table tr th {
  background-color: #C3C3C3;
  font-weight: bold;
  padding-right: 30px;
}

table tr td {
  padding-right: 30px;
}

tbody tr {
  cursor: pointer;	
}

tbody tr.even {
  background-color: #eee;
}

tbody tr:hover {
  background-color: #CDDAE6;
}

#messages {
  margin: 10px 0;
}

#messages div {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1em;
}

.msg_info {
  background: #608CB3 url(/images/dialog-information.png) 5px 5px no-repeat;
}

.msg_ok, .true_value {
  color: #008C00;
}

.msg_warning {
   background: #FF7400 url(/images/dialog-warning.png) 5px 5px no-repeat;
}

.msg_error {
	color: #C00;
}

#sub_menu, #bottom_menu {
	border: 2px solid #C3C3C3;
	border-width: 2px 0 0 0;
}

#sub_menu.top {
    border-width: 0 0 2px 0;
}

#sub_menu span.sub_menu_title, #bottom_menu span.bottom_menu_title {
  float: left;
  background-color: #C3C3C3;
  margin-right: 5px;
  padding: 3px;
}

#sub_menu ul, #bottom_menu ul {
  padding: 3px;
}

#sub_menu ul li, #bottom_menu ul li {
  display: inline;
  padding: 0 2px;
}

#inner_content {
  padding: 0.5em;	
}

form table.details {
    margin-top: 18px;
}

.form_fields table.details {
    margin-top: 0;
    margin-bottom: 45px;
}


.form_fields table.details th {
    width: 140px;
    text-align: left;
}

table.details tr {
  cursor: auto;
}

table.details th {
  background-color: white;
  font-weight: normal;
  padding-right: 10px;
  color: #9F9F9F;
  text-align: right;
  width: 200px;
}

table.details td {
}

table.compose_options td {
	text-align: right;
	padding: 0 0 5px 5px;
	line-height: 13px;
}
table.compose_options td input {
	float: none;
}

table.compose_options th {
	text-align: left;
	width: auto;
}

table.compose_options td select {
	 margin: 0;
	 padding: 0;
}
.imbra_alert, .false_value {
	color: #C00;
}

.imbra_alert p { margin: 0; padding: 0;}

table.details tbody tr:hover {
  background-color: transparent;
}

dl.imbra_answers {
	
}

dl.imbra_answers dt {
	background-color: #EFEFEF;
	padding: 2px;
	border-top: 1px solid #CCC;
}

dl.imbra_answers dd {
	font-weight: bold;
	padding: 2px;
	margin: 0 0 10px 0;
}

dl.imbra_answers dd span {
    font-weight: normal;
}

dl.imbra_answers {
	
}

.scrollable {
	overflow: auto;	
}

.big_scrollable {
	height:  540px;
}

.medium_scrollable {
	height:  440px;
}

.normal_scrollable {
	height:  270px;
}

.small_scrollable {
	height: 160px;
}

.mini_scrollable {
	height: 90px;
}

.unread {
	font-weight: bold;
}

#preview {
	background-color: #EAEAEA;
	margin-top:  10px;
	padding:  10px;
  	min-height:100px;
  	height:auto !important;
  	height:100px;	
}

.zebra {
	width: 100%;
}

.zebra th a {
    color: black;
}

.zebra th a.sorted_by {
    color: #1646CB;
}

.reports th, .reports td {
    padding-right: 5px;
}

.reports .title {
    width: 250px;
}

.preview_button {
	display:  none;
}

.conversation_box {
	border: 1px solid #90a6bb;
	margin-bottom: 5px;
}
.conversation_box h4 {
	background-color: #f6f6f6;
	padding-bottom: 5px;
}

.conversation_box p {
	padding: 10px;
}

.conversation_box .conv_date {
	float: right;
	color: #909090;
	padding: 5px 15px 0 10px;
}

.conversation_box .conv_username {
	padding-right: 10px;
}

table.preview th{
	background-color: transparent;
}

#content_flags {
	height: 470px;
}

#member_notes {
	border: 1px solid #90a6bb;
	width: 400px;
	height: 200px;
	text-align: left;
}

#member_notes p {
	border-bottom: 1px solid #e5e5e5;
	padding: 5px;
}

#member_notes p.odd {
	background-color: #f6f6f6;
}

#member_notes p span {
	font-weight: bold;
	display: block;
}

div.member_flags {
	margin-top: 20px;
}
div.member_flags table {
	width: 100%;
}

.member_status .active {
	color: #008146;
}

.member_status .suspended {
	color: #676b00;
}

.member_status .canceled {
	color: #c00005;
}

#pager {
	text-align: right;
	margin-top: 10px;
}

#pager a:visited {
	color: #0000EE;
}


#filters_date_from, #filters_date_to {
    border: 0;
    margin: 0;
    padding: 0;
    width: 70px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.reports #filters_date_from, .reports #filters_date_to {
    background-color: transparent;
}
    

#trigger_filters_date_from, #trigger_filters_date_to { display: none; }

.photos_headline {
  background-color: #EAEAEA;
  text-align: left;
  padding: 0 5px;
  margin-bottom: 5px;
}

.photos_headline span {
    padding: 0 30px;
}

.photos_headline b {
    line-height: 13px;
    font-size: 12px;
}

.subscription_container .form_fields label {
  height: 17px;
  margin-bottom: 6px;
}

.subscription_container .form_fields var {
  padding: 2px 0;
}

.subscription_container .form_fields .checkbox {
  height: 16px;
  margin: 0 0 6px 0;
}

 
.subscription_container .form_fields select {
 height: 18px;
}

.float-left {
    float: left;
}

.flaot-right {
    float: right;
}

#profile_pager {
    text-align: center;
}

#profile_pager a, #profile_pager span {
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
}