@CHARSET "UTF-8";

/* Author - Dincho Todorov */
#affiliates {
    padding-top: 40px;
    margin-left: 22px;
    text-align: left;
    font-size: 11px;
    height: 400px;
    color: #d3d3d3;
}

#areas legend {
    color: #e0b400;
    margin: 0px;
    margin-left: -6px;
    margin-bottom: -5px;
    margin-top: 9px;
}

/*best videos*/
#best_videos_text {
    margin-top: 35px;
    font-size: 11px;
}

#video_box {
    margin-top: 40px;
    height: 320px;
}

#video_box .left {
    float: left;
    height: 293px;
    width: 350px;
    background-color: #ccc;
}

#video_box .right {
    float: left;
    height: 293px;
    width: 350px;
    padding-left: 15px;
}

#video_box .right .place {
    width: 51px;
    height: 44px;
    margin: 5px;
    background: url(/images/best_video_h2.gif) no-repeat center;
    font-size: 17px;
    padding-left: 19px;
    padding-top: 16px;
}

/*best videos*/ /* blocked members */
#blocked_members {
    color: #9991a4;
    font-size: 11px;
    margin-top: 10px;
    float: left;
}

#blocked_members a:link {
    color: #9991a4;
}

#blocked_members a:visited,a:active {
    color: #9991a4;
}

/* end blocked members */
#buttons {
    height: 33px;
    width: 340px;
    text-align: center;
    font-size: 11px;
}

#buttons #previous {
    height: 100%;
    float: left;
    width: 25%;
    background: url(/images/prev.gif) no-repeat center left;
}

#buttons #return_results {
    height: 100%;
    float: left;
    width: 150px;
}

#buttons #next {
    height: 100%;
    float: left;
    width: 25%;
    background: url(/images/next.gif) no-repeat center right;
}

#coming_soon {
    text-align: center;
    padding-top: 45px;
    height: 390px;
    width: 100%;
    font-size: 11px
}

#coming_soon form {
    margin: 0px;
}

#coming_soon_email {
    background-color: #363639;
    height: 60px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}

#coming_soon_email_block {
    clear: both;
    font-size: 14px;
    color: #d3d3d3;
    padding: 3px;
}

#coming_soon_email_block input.bigfield {
    float: left;
    margin: 4px;
    margin-top: 15px;
}

#coming_soon_email_block input.send {
    float: right;
    margin: 4px;
    margin-top: 15px;
    margin-right: 8px;
}

#complete_registration {
    color: #fff;
    font-weight: normal;
    background-color: #2b2b2b;
    height: 20px;
}

#complete_registration_page {
    height: 400px;
    padding-top: 40px;
    color: #d3d3d3;
    font-size: 11px;
    padding-left: 25px;
    text-align: left;
}

#complete_registration_page span {
    color: #e0b400;
    font-size: 11px;
}

#content h1 {
    margin: 0px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

#countries span.sp_cancel {
    display: block;
    clear: both;
    padding-top: 20px;
}

#error_register {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}

#fix {
    background-attachment: fixed;
}

#footer #copyright {
    font-size: 10px;
}

#footer_menu .left {
    width: 29%;
    float: left;
}

#footer_menu .middle {
    width: 30%;
    float: left;
}

#footer_menu .right {
    width: 40%;
    float: left;
}

#header .public {
    margin-left: -100px;
}

#index_error {
    background-color: #000000;
    border: 1px solid #3d3d3d;
    margin: 2px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    color: #ff0000;
    font-size: 11px;
    font-weight: bold;
}

#index_image.coming_soon {
    width: 312px;
    height: 375px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #363639;
    font-size: 14px;
    color: #d3d3d3;
}

#member_stories {
    padding-top: 40px;
    margin-left: 22px;
    text-align: left;
    font-size: 11px;
    height: 400px;
    color: #d3d3d3;
}

#member_stories a:link,#member_stories a:visited,#member_stories a:active
    {
    color: #73a7ff;
}

#member_stories a:hover {
    color: #a8c8ff;
    text-decoration: underline;
}

#messages_form tr.insider {
    background-color: #4f4f4f;
    border-bottom: 1px solid #2b2b2b;
    margin: 0px;
    clear: both;
    width: 100%;
}

#messages_form .insider_error {
    background-color: #a51d1f;
    border-bottom: 1px solid #2b2b2b;
    margin: 0px;
    clear: both;
}

#messages_form .insider span.name,#messages_form  .insider span.subject,#messages_form  .insider span.date
    {
    margin-top: -18px;
    line-height: 19px;
    color: #73a7ff;
    font-size: 11px;
    height: 19px;
}

#messages_form .insider_error span.name {
    width: 60px;
    float: left;
    display: block;
    padding-left: 80px;
}

#messages_form .insider_error span.subject {
    float: left;
    display: block;
    width: 410px;
}

#messages_form .insider_error span.date {
    float: left;
    display: block;
}

#messages_form .insider_error span.name,#messages_form  .insider_error span.subject,#messages_form  .insider_error span.date
    {
    margin-top: -18px;
    line-height: 19px;
    color: #73a7ff;
    font-size: 11px;
    height: 19px;
}

#messages_form .insider span.name {
    width: 60px;
    float: left;
    display: block;
    padding-left: 80px;
}

#messages_form .insider span.subject {
    float: left;
    display: block;
    width: 410px;
}

#messages_form .insider span.date {
    float: left;
    display: block;
}

#messages_form_sent fieldset.insider {
    background-color: #4f4f4f;
    border-bottom: 1px solid #2b2b2b;
    margin: 0px;
    clear: both;
}

#messages_form_sent fieldset.insider span.name,#messages_form_sent  fieldset.insider span.subject,#messages_form_sent  fieldset.insider span.date
    {
    margin-top: -18px;
    line-height: 19px;
    color: #73a7ff;
    font-size: 11px;
    height: 19px;
}

#messages_form_sent fieldset.insider span.name {
    width: 60px;
    float: left;
    display: block;
    padding-left: 80px;
}

#messages_form_sent fieldset.insider span.subject {
    float: left;
    display: block;
    width: 410px;
}

#messages_form_sent fieldset.insider span.date {
    float: left;
    display: block;
}

#middle.error {
    text-align: center;
    margin-top: 15px;
    height: 300px;
    width: 100%;
    font-size: 11px;
}

#more_profiles_text {
    margin-top: 40px;
    text-align: left;
    margin-left: 29px;
    color: #d3d3d3;
    font-size: 11px;
}

#more_profiles_text.no-margin {
    margin-top: 10px;
    text-align: left;
    margin-left: 29px;
    color: #d3d3d3;
    font-size: 11px;
}

#next a {
    float: left;
    margin-top: 9px;
    margin-right: 55px;
    color: #636363;
}

#post_story_confirmation {
    padding-top: 40px;
    margin-left: 22px;
    text-align: left;
    font-size: 11px;
    height: 400px;
    color: #d3d3d3;
}

#post_story_confirmation a:link,#post_story_confirmation a:active,#post_story_confirmation a:visited
    {
    color: #73a7ff;
}

#post_story_confirmation a:hover {
    text-decoration: underline;
    color: #a8c8ff;
}

#previous a {
    float: left;
    margin-top: 9px;
    margin-left: 55px;
    color: #636363;
}

#profile_footer {
    height: 175px;
    background-color: #000;
    border-top: 1px solid #626262;
    text-align: center;
}

#profile_footer h2 {
    margin: 0px;
    color: #fff;
    font-size: 12px;
    text-align: left;
    margin: 5px;
}

#profile_footer img {
    margin-top: 20px;
}

#profile_left img.thumb_selected {
    margin-top: 12px;
    border: 2px solid #e0b400;
}

#profile_right .conversations_messages .right-column {
    text-align: right;
    padding-right: 20px;
}

#profile_right div.prev_next {
    line-height: 35px;
    height: 35px;
    border: 1px solid #ccc;
}

#profile_settings {
    height: 250px;
    width: 725px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#profile_settings_left {
    clear: both;
    float: left;
    height: 225px;
    padding-top: 25px;
    padding-left: 5px;
    width: 357px;
    background-color: #000;
}

#profile_settings_left a:visited,a:link,a:active {
    color: #8db9fc;
}

#profile_settings_left span {
    text-align: left;
    display: block;
    height: 35px;
}

#profile_settings_left span img {
    margin: 4px;
}

#profile_settings_left h2 {
    float: left;
    margin: 0px;
    padding-top: 8px;
    width: 124px;
    height: 27px;
    background: #000 url(/images/dashboard_bg.gif) no-repeat center center;
    color: #8db9fc;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
}

#profile_settings_right {
    margin: 0px;
    float: left;
    height: 100%;
    width: 363px;
    background-color: #616161;
    color: #a29b91;
}

#profile_settings_right h3 {
    margin-top: 4px;
    margin-left: -6px;
    background: url(/images/profile_bg_h3.gif) no-repeat;
    width: 117px;
    height: 22px;
    padding-top: 4px;
    padding-left: 7px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0px;
}

#profile_settings_right a:visited,a:active {
    color: #8eb9fc;
}

#profile_settings_right a:link {
    color: #8eb9fc;
}

#profile_settings_right ul {
    margin: 0px;
    padding-left: 2px;
    list-style-type: none;
}

#profile_settings_right li {
    line-height: 9pt;
    color: #a29b91;
}

#profile_text_footer {
    clear: both;
}

#profile_text_footer div.imbra {
    background-color: #3d3d3d;
    padding: 10px;
    width: 710px;
}

#profile_text_footer p.pclass {
    color: #d3d3d3;
}

#public_reg_form form {
    margin: 0px;
    padding: 0px;
}

#registration_box_complete_page input.selected,#registration_box_complete_page select.selected
    {
    border: 1px solid #98955c;
}

#registration_error {
    background-color: #000000;
    border: 1px solid #3d3d3d;
    margin: 12px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

#registration_error_width {
    background-color: #000000;
    border: 1px solid #3d3d3d;
    margin: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

#registration_error.green {
    color: #61d76c;
}

#registration_error_width.green {
    color: #61d76c;
}

#return_results a {
    float: left;
    margin-left: 45px;
    margin-top: 9px;
    color: #6aa7ff;
}

#return_results a:link,a:visited,a:active {
    color: #6aa7ff;
    text-decoration: none;
}

#search_box .location {
    margin-left: 25px;
}

#search_box a.update {
    display: block;
    float: right;
    height: 60px;
    background-color: #000;
    margin-top: -85px;
    color: #6aa7ff;
    padding-top: 44px;
    width: 50px;
    text-align: center;
}

#search_box select {
    font-size: 10px;
    border: 1px solid #7995ae;
    background-color: #363639;
    color: #aca49c;
    margin-left: 5px;
    margin-right: 158px;
}

#search_criteria {
    text-align: left;
    color: #fff;
    font-size: 11px;
    margin-left: 25px;
    height: 14px;
    margin-top: 10px;
}

#search_criteria a:visited,a:active,a:link {
    text-decoration: none;
    color: #6aa7ff;
}

#secondary_container #form_2 fieldset {
    border: 0;
}

#secondary_container #imbra_2 div.under_18 {
    margin-left: 60px;
}

#secondary_container #imbra_2 label.form_1_error {
    float: left;
    display: block;
    width: 60px;
    background-color: #a51d1f;
}

#secondary_container #imbra_2 span.error {
    background-color: #a51d1f;
    font-size: 11px;
    color: #d3d3d3;
    display: block;
    margin-bottom: -15px;
}

#secondary_container #member_registration {
    
}

#secondary_container #participate {
    clear: both;
}

#secondary_container #participate ul {
    list-style-type: decimal;
}

#secondary_container .faq_title {
    display: block;
    color: #e0b400;
    margin-top: 10px;
    font-size: 11px;
}

#secondary_container .faqs {
    font-size: 11px;
}

#secondary_container .faqs a:hover {
    font-size: 11px;
    text-decoration: underline;
}

#secondary_container .input_text {
    border: 1px solid #7995ae;
    background-color: #363639;
    color: #aca49c;
    font-size: 11px;
    width: 150px;
}

#secondary_container div.best_video {
    width: 720px;
    height: 325px;
    clear: both;
}

#secondary_container div.best_video div.left {
    float: left;
}

#secondary_container div.best_video div.right {
    float: left;
    margin-top: 27px;
    padding-left: 5px;
}

#secondary_container div.best_video div.right img {
    float: left;
    margin-right: 8px;
}

#secondary_container div.city_left {
    width: 200px;
}

#secondary_container div.city_left img {
    margin-top: 9px;
}

#secondary_container div.city_right {
    float: right;
    height: 100%;
    width: 500px;
    margin-right: 20px;
    margin-left: 5px;
    padding: 0px;
}

#secondary_container input.browse {
    width: 43px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_browse.gif) no-repeat;
    margin-left: 2px;
    margin-top: 20px;
    margin-bottom: 2px;
}

#secondary_container input.close_inactive {
    width: 36px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_close_inactive.gif) no-repeat;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 20px;
}

#secondary_container input.delete_inactive {
    width: 40px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_delete_inactive.gif) no-repeat;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 2px;
}

#secondary_container input.reply_inactive {
    width: 37px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_reply_inactive.gif) no-repeat;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 2px;
}

#secondary_container input.upload {
    width: 44px;
    height: 17px;
    cursor: pointer;
    border: 0px;
    background: url(/images/input/butt_upload.gif) no-repeat;
    margin-left: 2px;
    margin-top: 2px;
}

#secondary_container p.imbra {
    color: #d3d3d3;
}

#secondary_container span.description {
    font-size: 11px;
    color: #92897e;
    margin-top: 0px;
}

#secondary_container span.for_law {
    color: #e0b400;
    font-size: 11px;
}

#secondary_container span.imbra {
    color: #e0b400;
    font-size: 11px;
}

#secondary_container.no-margin {
    padding-top: 5px;
    margin-left: 28px;
}

#secondary_container.short {
    padding-top: 40px;
    margin-left: 28px;
    text-align: left;
    font-size: 11px;
    min-height: 300px;
    height: auto !important;
    height: 300px;
    color: #d3d3d3;
}

#secondary_container.small {
    padding-top: 40px;
    margin-left: 28px;
    text-align: left;
    font-size: 11px;
    min-height: 280px;
    height: auto !important;
    height: 280px;
    color: #d3d3d3;
}

#self_desc_form label span123 {
    font-size: 11px;
    margin-left: 25px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
}

#site_map a:hover {
    color: #a8c8ff;
    text-decoration: underline;
}

#story_left {
    float: right;
    width: 400px;
    height: 600px;
    text-align: left;
    border: 1px solid #ccc;
}

#sub_table {
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: left;
}

#sub_table hr {
    margin-top: 4px;
    border-top: 1px solid #aca899;
    border-right: 1px solid #ece9d8;
    margin-left: -10px;
    background-color: #ece9d8;
    height: 1px;
    font-size: 1px;
    margin-bottom: 4px;
}

#subscribe_footer {
    margin-top: 20px;
    border-top: 1px solid #3d3d3d;
    height: 130px;
    padding: 4px;
    padding-left: 80px;
    line-height: 14px;
}

#subscribe_footer a:active,a:visited {
    color: #92897e;
}

#subscribe_footer a:link {
    color: #92897e;
}

#subscribe_footer .left {
    width: 30%;
    float: left;
}

#subscribe_footer .middle {
    width: 30%;
    float: left;
}

#subscribe_footer .right {
    width: 40%;
    float: left;
}

#subscribe_text {
    margin-top: 35px;
    font-size: 11px;
}

#subscribe_under {
    width: 700px;
    font-size: 11px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#subscription img.check {
    float: left;
}

#table-cell-city-link {
    display: table-cell;
    padding-top: 15px;
    width: 750px;
}

#table-cell-city-link div.row {
    display: inline-table;
    float: left;
    margin: 0px;
    width: 200px;
    margin-right: 40px;
    margin-top: 10px;
}

#table_left h3,#table_middle h3,#table_right h3 {
    margin: 0px;
    padding-left: 10px;
    font-weight: normal;
    height: 18px;
    background-color: #3d3d3d;
    padding-top: 2px;
    font-size: 12px;
    margin-left: -10px;
    color: #fff;
}

#table_left {
    float: left;
    width: 33%;
    line-height: 17px;
    color: #92897e;
}

#table_left h2 {
    height: 40px;
    font-size: 13px;
    margin: 0px;
    padding-left: 10px;
}

#table_middle {
    float: left;
    width: 33%;
    line-height: 17px;
    color: #fff;
}

#table_middle h2 {
    height: 40px;
    font-size: 13px;
    margin: 0px;
    padding-left: 0px;
    line-height: 17px;
}

#table_right {
    float: left;
    width: 33%;
    line-height: 17px;
    color: #3cad47;
}

#table_right h2 {
    height: 40px;
    font-size: 13px;
    color: #3cad47;
    margin: 0px;
    padding-left: 0px;
    line-height: 17px;
}

#tell_a_friend {
    padding-top: 40px;
    margin-left: 22px;
    text-align: left;
    font-size: 11px;
    height: 400px;
    color: #d3d3d3;
}

#tell_a_friend_confirmation {
    padding-top: 40px;
    margin-left: 22px;
    text-align: left;
    font-size: 11px;
    height: 400px;
    color: #e0b400;
}

#tell_a_friend_confirmation a:link,#tell_a_friend_confirmation a:visited,#tell_a_friend_confirmation a:active
    {
    color: #73a7ff;
}

#tell_a_friend_confirmation a:hover {
    color: #a8c8ff;
    text-decoration: underline;
}

#tell_a_friend_container textareatextarea {
    height: 40px;
}

#text_under {
    font-size: 11px;
    margin-left: 7px;
    margin-right: 20px;
}

#text_under strong {
    float: right;
    font-weight: normal;
    margin-right: 10px;
    margin-top: -13px;
}

#view_profile {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    height: 780px;;
}

#view_profile_info {
    background-color: #4f4f4f;
    width: 338px;
    height: 330px;
    border: 1px solid #4f4f4f;
}

#view_profile_left {
    float: left;
    width: 350px;
    height: 100%;
    margin-right: 8px;
}

#view_profile_left #thumbnails {
    margin-top: 10px;
    text-align: left;
    height: 60px;
    width: 100%;
}

#view_profile_left #thumbnails img {
    float: left;
    border: 0px;
    display: table-cell;
    vertical-align: middle;
    margin: 2px;
}

#view_profile_left #thumbnails img.selected {
    border: 2px solid #e0b400;
}

#view_profile_left h2 {
    text-align: left;
    padding-left: 7px;
    margin: 0px;
    margin-top: 33px;
    padding-top: 2px;
    font-size: 11px;
    font-weight: normal;
    color: #FFF;
    height: 17px;
    background-color: #000;
}

#view_profile_left #youtube {
    width: 350px;
    height: 294px;
    background-color: #ccc;
    margin-top: 10px;
}

#view_profile_list a:visited,a:active,a:link {
    text-decoration: none;
    color: #73a7ff;
}

#view_profile_list ul {
    text-align: left;
    font-size: 11px;
    width: 330px;
    list-style: none;
    color: #fff;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-right: auto;
    line-height: 17px;
}

#view_profile_list span {
    width: 100px;
    text-align: left;
    color: #92897e;
    float: left;
    padding-left: 10px;
}

#view_profile_match {
    display: block;
    text-align: left;
    margin-top: 5px;
    width: 340px;
    height: 50px;
}

#view_profile_match #profile_last_log_in {
    display: block;
    text-align: center;
    padding: 2px;
    padding-top: 10px;
    float: left;
    width: 164px;
    margin-left: 2px;
    height: 31px;
    background-color: #3d3d3d;
}

#view_profile_match #profile_match {
    padding: 2px;
    float: left;
    width: 164px;
    margin-right: 2px;
    height: 39px;
    background-color: #3d3d3d;
}

#view_profile_nav {
    width: 100%;
    height: 26px;
    font-size: 11px;
    color: #73a7ff;
}

#view_profile_nav #view_profile_description {
    float: left;
    width: 172px;
    height: 26px;
    text-align: left;
    background-color: #3d3d3d;
}

#view_profile_nav #view_profile_description.active {
    background-color: #4f4f4f;
    float: left;
    width: 166px;
    height: 26px;
    text-align: left;
}

#view_profile_nav #view_profile_map {
    background-color: #3d3d3d;
    float: left;
    width: 172px;
    height: 26px;
    text-align: left;
}

#view_profile_nav #view_profile_map.active {
    background-color: #4f4f4f;
    float: left;
    width: 166px;
    height: 26px;
    text-align: left;
}

#view_profile_nav a {
    display: block;
    margin-top: 6px;
    margin-left: 10px;
}

#view_profile_nav a:visited,a:active,a:link {
    color: #73a7ff;
}

#view_profile_right {
    float: left;
    width: 340px;
    height: 100%;
}

#view_profile_right_container #gift {
    height: 41px;
    background-color: #3d3d3d;
    text-align: left;
    font-size: 11px;
}

#view_profile_right_container #gift img {
    margin-bottom: -3px;
    margin-right: 2px;
}

#view_profile_right_container #gift a {
    display: block;
    color: #fff;
    margin-left: 18px;
    padding-top: 13px;
}

#view_profile_right_container h2 {
    margin: 0px;
    padding-top: 2px;
    font-size: 11px;
    font-weight: normal;
    color: #6aa7ff;
    height: 17px;
    background-color: #000;
}

#view_profile_right_container h2 a:visited,a:active,a:link {
    color: #73a7ff;
}

#winks div.member_profile_viewers img.x {
    float: right;
}

#your_account {
    float: left;
    width: 50%;
    padding-left: 9px;
    text-align: left;
}

#your_profile {
    width: 100%;
    float: left;
    height: 120px;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
    font-size: 10px;
    color: #8eb9fc;
}

#your_profile span {
    display: block;
    float: right;
    margin-top: -25px;
    width: 180px;
}

.another_language_span {
    line-height: 20px;
    float: left;
}

.back_to_top {
    font-size: 11px;
    padding-top: 10px;
    display: block;
    width: 60px;
}

.keywords {
    float: left;
    margin-top: 15px;
}

.member .member_box .no_available {
    height: 18px;
    background-color: #000000;
}

.member .member_box .profile_info_matches strong.error {
    display: block;
    font-weight: bold;
    color: #ff0000;
    padding-top: 20px;
    font-size: 12px;
}

.member .member_box .profile_info_matches u {
    text-decoration: none;
    margin-left: 5px;
    color: #e0b400;
}

.member .member_box .profile_info_matches u.strong {
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    color: #e0b400;
}

.msg_form a.cancel {
    display: block;
    margin-top: 20px;
    width: 180px;
}

.profile_picture {
    float: left;
    text-align: center;
    font-size: 11px;
    margin-left: 18px;
}

.profile_picture a:visited,a:link,a:active {
    color: #7caee7;
}

BODY .pay_now {
    border: 0px;
    margin-left: 5px;
    margin-top: 5px;
    width: 65px;
    height: 28px;
    background-color: #363639;
    color: #aca49c;
    background-image: url(/images/input/pay_now.gif);
    color: #fff;
    cursor: pointer;
}

body .bigfield {
    background-color: #363639;
    border: 1px solid #7995ae;
    color: #aca49c;
    width: 185px;
    font-size: 14px;
}

body .cancel {
    background-image: url(/images/input/butt_cancel.gif);
    border: 0px;
    color: #fff;
    width: 56px;
    height: 28px;
    cursor: pointer;
}

body .delete_2 {
    background-image: url(/images/input/butt_delete_1.gif);
    border: 0px;
    color: #fff;
    width: 52px;
    height: 28px;
    cursor: pointer;
}

body .leave {
    font-size: 10px;
}

body .resubmit {
    background-image: url(/images/input/butt_resubmit.gif);
    border: 0px;
    color: #fff;
    width: 69px;
    height: 28px;
    cursor: pointer;
    margin-top: 7px;
}

body .send {
    background-image: url(/images/input/save.gif);
    border: 0px;
    color: #fff;
    width: 46px;
    height: 28px;
    cursor: pointer;
}

div.profile_id_search {
    display: block;
    margin-top: 60px;
    font-size: 11px;
    color: #d3d3d3;
}