all:
  propel:
    class:          sfPropelDatabase
    param:
      dsn:          mysql://polishdate:polishdate@127.0.0.1/polishdate
      encoding:     utf8

test:
  propel:
    param:
      dsn:          mysql://pd_test:polish_test@127.0.0.1/polishdate_test
